/* Typography */
.h1 {
  @apply text-3xl font-extrabold;
}

.h2 {
  @apply text-2xl font-extrabold;
}

.h3 {
  @apply text-xl font-extrabold;
}

.h4 {
  @apply text-lg font-extrabold;
}

@screen md {
  .h1 {
    @apply text-6xl;
  }

  .h2 {
    @apply text-5xl;
  }

  .h3 {
    @apply text-4xl font-extrabold;
  }

  .h4 {
    @apply text-3xl font-extrabold;
  }
}

/* container */
.container {
  @apply !w-full !px-[.75rem] mx-auto xl:!max-w-[1180px] lg:!max-w-[992px] md:!max-w-[720px] sm:!max-w-[576px];
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* smooth */
.smooth {
  @apply transition-all duration-200 ease-in-out;
}

/* define headers color */
h1,
h2,
h3,
h4 {
  @apply !text-[#102226];
}
